In [83]:
import pandas as pd
import numpy as np
from collections import Counter

In [65]:
df  = pd.read_csv("/home/jq/Desktop/rUnet/data/Longitudinal_AD_MRI_2_25_2021.csv")
df.head()

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,I60450,002_S_0619,AD,M,78,3,MRI,MPR; GradWarp; N3,Processed,12/13/2006,NiFTI,NaN
1,I120964,002_S_0619,AD,M,80,6,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,8/13/2008,NiFTI,5/30/2020
2,I48617,002_S_0619,AD,M,78,1,MRI,MPR-R; GradWarp; N3; Scaled,Processed,6/01/2006,NiFTI,NaN
3,I48758,002_S_0619,AD,M,78,1,MRI,MPR-R; GradWarp,Processed,6/01/2006,NiFTI,NaN
4,I60453,002_S_0619,AD,M,78,3,MRI,MPR-R; GradWarp; N3,Processed,12/13/2006,NiFTI,NaN

#### To get those subject who have 4 different `Acq Data`

In [66]:
df.columns

Index(['Image Data ID', 'Subject', 'Group', 'Sex', 'Age', 'Visit', 'Modality',
       'Description', 'Type', 'Acq Date', 'Format', 'Downloaded'],
      dtype='object')

In [67]:
sub_data = df.loc[:, ['Subject', 'Visit', 'Acq Date']]
sub_data.head()

      Subject  Visit    Acq Date
0  002_S_0619      3  12/13/2006
1  002_S_0619      6   8/13/2008
2  002_S_0619      1   6/01/2006
3  002_S_0619      1   6/01/2006
4  002_S_0619      3  12/13/2006

In [68]:
sub_id_unique = pd.unique(sub_data.loc[:, 'Subject'])
len(sub_id_unique)

112

In [106]:
subject_ids = []

for sub_id in sub_id_unique[:20]:
    tmp = sub_data[sub_data['Subject'] == sub_id]
    visit = pd.unique(tmp['Visit'])
    print(f"visit: {sorted(visit)}")
    acq_date = pd.unique(tmp['Acq Date'])
    if len(visit) >= 4:
        subject_ids.append(sub_id)

print(f"subject id num: {len(subject_ids)}")

visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [6]
visit: [1, 3, 4, 6]
visit: [1, 3]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
visit: [1, 3, 4, 6]
subject id num: 17

In [85]:
df = df[df['Subject'].isin(subject_ids)]
len(df)

3070

In [84]:
desc = df['Description']
desc_counts = Counter(desc)
desc_counts

Counter({'MPR; GradWarp; N3': 69,
         'MPR; GradWarp; B1 Correction; N3; Scaled': 293,
         'MPR-R; GradWarp; N3; Scaled': 18,
         'MPR-R; GradWarp': 436,
         'MPR-R; GradWarp; N3': 71,
         'MPR; GradWarp': 439,
         'MPR-R; GradWarp; B1 Correction': 367,
         'MPR-R; GradWarp; N3; Scaled_2': 2,
         'MPR; GradWarp; B1 Correction; N3': 373,
         'MPR; GradWarp; N3; Scaled': 53,
         'MPR; GradWarp; B1 Correction': 373,
         'MPR-R; GradWarp; B1 Correction; N3': 367,
         'HarP 135 final release 2015': 19,
         'MPR-R; GradWarp; B1 Correction; N3; Scaled': 69,
         'HHP 6 DOF AC-PC registered MPRAGE': 19,
         'MPR; GradWarp; B1 Correction; N3; Scaled_2': 30,
         'MPR; ; N3; Scaled': 12,
         'MPR; ; N3': 15,
         'MPR-R; ; N3': 15,
         'MPR-R; GradWarp; B1 Correction; N3; Scaled_2': 5,
         'MT1; N3m': 3,
         'MPR; ; N3; Scaled_2': 7,
         'MPR-R; ; N3; Scaled': 3,
         'MPR-R; ; N3; Scaled_2': 2,
         'MT1; GradWarp; N3m': 4,
         'MPR; GradWarp; N3; Scaled_2': 6})

In [103]:
useful_df = df[df['Description'] == 'MPR; GradWarp']
useful_df

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
5,I120966,002_S_0619,AD,M,80,6,MRI,MPR; GradWarp,Processed,8/13/2008,NiFTI,NaN
9,I60413,002_S_0619,AD,M,78,3,MRI,MPR; GradWarp,Processed,12/13/2006,NiFTI,NaN
18,I67868,002_S_0619,AD,M,79,4,MRI,MPR; GradWarp,Processed,6/22/2007,NiFTI,NaN
26,I60041,002_S_0938,AD,F,83,3,MRI,MPR; GradWarp,Processed,4/12/2007,NiFTI,NaN
31,I81314,002_S_0938,AD,F,83,4,MRI,MPR; GradWarp,Processed,10/23/2007,NiFTI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3226,I91211,137_S_0796,AD,M,82,4,MRI,MPR; GradWarp,Processed,10/08/2007,NiFTI,NaN
3232,I89980,137_S_0796,AD,M,80,1,MRI,MPR; GradWarp,Processed,8/21/2006,NiFTI,NaN
3239,I86262,137_S_1041,AD,M,72,4,MRI,MPR; GradWarp,Processed,12/12/2007,NiFTI,NaN
3242,I43068,137_S_1041,AD,M,71,1,MRI,MPR; GradWarp,Processed,11/09/2006,NiFTI,NaN
3256,I134941,137_S_1041,AD,M,73,6,MRI,MPR; GradWarp,Processed,12/18/2008,NiFTI,NaN

In [110]:
subjects_id = []
for sub_id in sub_id_unique:
    tmp = useful_df[useful_df['Subject'] == sub_id]
    visit = pd.unique(tmp['Visit'])
    if len(visit) >= 4:
        subjects_id.append(sub_id)

print(f"subject id num: {len(subjects_id)}")
useful_df = useful_df[useful_df['Subject'].isin(subjects_id)]
print(len(useful_df))

subject id num: 88
413

In [130]:
## visit 1 3 4 6
visit_nums = [1, 3, 4, 6]

for visit_num in visit_nums:
    visit_1 = useful_df[useful_df['Visit'] == 1]
    for subject_id in subject_ids:
        line = visit_1[visit_1['Subject'] == subject_id].to_numpy()[0]
        print(line[0], end=', ')
    print()
    print()

I40982
I40982
I40982
I40982